body {
	text-align: center;
	background-color:#666666;
}

* {
	box-sizing: border-box;
}

.square {
	float: left;
	height: 175px;
	width: 175px;
	padding: 25px;
	border-radius: 50px;
	font-size: 50px;
	margin: 5px;
	border: 5px solid purple;
	box-sizing: border-box;
}

.column {
	display: inline-block;
}

.square:hover {
	background-color: green;
}

#grid {
	width: 80vw;
  height: 15vh;
  background-color: none;
  border-spacing:0;
  margin: 0 auto;
}
